<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppFlayerDevKey</key>
	<string>2czkX4PzkQ6nw2iaf3y8zJ</string>
	<key>AppleAppId</key>
	<string>6447296431</string>
</dict>
</plist>
