<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>360611298994-k5d9a48md195ar3vbrs6dhvsa3pnjn6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.360611298994-k5d9a48md195ar3vbrs6dhvsa3pnjn6r</string>
	<key>API_KEY</key>
	<string>AIzaSyCbEED88w2EKBjnenkg9MKvAJps46iWHHU</string>
	<key>GCM_SENDER_ID</key>
	<string>360611298994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.avdevelopment.soundanalyser</string>
	<key>PROJECT_ID</key>
	<string>sound-analyser-c57bb</string>
	<key>STORAGE_BUCKET</key>
	<string>sound-analyser-c57bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360611298994:ios:1f748af315d75929ee93ab</string>
</dict>
</plist>